<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="DrRacket"> <action name="Execute">
                <execute>drracket</execute>
            </action> </item>
            <item label="IDEA"> <action name="Execute">
                <execute>idea-ultimate</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Notepadqq"> <action name="Execute">
                <execute>notepadqq</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>alacritty -e python</execute>
            </action> </item>
            <item label="Python (v2.7)"> <action name="Execute">
                <execute>alacritty -e python2.7</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Emacs"> <action name="Execute">
                <execute>alacritty -e emacs</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>alacritty -e nano</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>alacritty -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>alacritty -e vim</execute>
            </action> </item>
            <item label="WrappedNeovim"> <action name="Execute">
                <execute>alacritty -e nvim</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="MyPaint"> <action name="Execute">
                <execute>mypaint</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>alacritty -e alsamixer</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="ncmpcpp"> <action name="Execute">
                <execute>alacritty -e ncmpcpp</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Discord"> <action name="Execute">
                <execute>Discord</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Microsoft Teams - Preview"> <action name="Execute">
                <execute>teams</execute>
            </action> </item>
            <item label="qutebrowser"> <action name="Execute">
                <execute>qutebrowser</execute>
            </action> </item>
            <item label="Steam"> <action name="Execute">
                <execute>steam</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Slideshow"> <action name="Execute">
                <execute>slideshow</execute>
            </action> </item>
            <item label="Xournal++"> <action name="Execute">
                <execute>xournalpp</execute>
            </action> </item>
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>alacritty -e git</execute>
            </action> </item>
            <item label="ranger"> <action name="Execute">
                <execute>alacritty -e ranger</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
            <item label="XTerm (Unicode)"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                    <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="NVIDIA X Server Settings"> <action name="Execute">
                    <execute>nvidia-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
            </menu>
            <item label="G-Top"> <action name="Execute">
                <execute>alacritty -e gtop</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>alacritty -e htop</execute>
            </action> </item>
            <item label="NixOS Manual"> <action name="Execute">
                <execute>nixos-help</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>alacritty -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>alacritty -e info</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
